<div class="conatiner-fluid">
  <nav class="navbar navbar-light">
    <a class="navbar-brand"><h1>{{title}}</h1></a>
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2" type="submit">Search</button>
    </form>
  </nav>
</div>

<a href="/buds/create" class="btn btn-primary">Add a New Bud Review</a>
{{#each buds}}

  {{! Card }}
  
  <div class="col">

    <div class="card border-success" style="margin: 1rem">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-title">{{this.strain}}</p>
        <p class="card-title">{{this.thc}}</p>
        <p class="card-title">{{this.cbd}}</p>
        <p class="card-title">{{this.review}}</p>
        <a href="#" class="btn btn-success">Reviews</a>
        <a class="btn btn-danger" href="/buds/delete/{{this._id}}" onclick="return confirmDelete()">Delete</a>
        <a href="/buds/edit/{{this._id}}" class="btn btn-warning">Edit</a>
      </div>
    </div>

  

  {{! <img
      class="card-img-top"
      src="./images/candyland.jpeg"
      alt="Card image cap"
    /> }}
{{/each}}
</div>